
<template>
  <div>
    <my-trees :list="list"></my-trees>
  </div>
</template>
<script>
import myTrees from '@/components/treeMenus';
export default {
    components: {
        myTrees
    },
    data () {
        return {
            list: [
                {
                    flag: false,
                    name: '山西省',
                    cList: [
                        {
                            flag: false,
                            name: '太原市',
                            cList: []
                        },
                        {
                            flag: false,
                            name: '大同市',
                            cList: [
                                {
                                    flag: false,
                                    name: '城区',
                                    cList: []
                                }
                            ]
                        }
                    ]
                },
                {
                    flag: false,
                    name: '辽宁省',
                    cList: []
                },
                {
                    flag: false,
                    name: '河南省',
                    cList: [
                        {
                            flag: false,
                            name: '郑州市',
                            cList: []

                        },
                        {
                            flag: false,
                            name: '濮阳市',
                            cList: []
                        },
                        {
                            flag: false,
                            name: '洛阳市',
                            cList: []
                        }
                    ]
                }
            ]
        };
    },
    methods: {}
};
</script>
