
<template>
  <ul>
    <li v-for="(item,index) in list" :key="index">
      <p>
        <span @click="changeStatus(index)">{{item.name}}</span>
        <button @click="createFile(index)">新建文件</button>
        <button @click="createFolder(index)">新建文件夹</button>
        <button @click="remove(index)">删除</button>
        <button @click="rename(item)">重命名</button>
        <span v-show="item.flag">
          <input type="text" v-model="newName" >
          <button @click="confirmRename(item)">确定</button>
        </span>
      </p>
      <tree-menus v-if="scopesDefault[index]" :list="item.cList"></tree-menus>
    </li>
  </ul>
</template>

<script>
export default {
    name: 'treeMenus',
    props: {
        list: Array
    },
    data () {
        return {
            scopesDefault: [],
            scopes: [],
            newName: ''
        };
    },

    methods: {
        changeStatus (index) {
            if (this.scopesDefault[index] === true) {
                this.$set(this.scopesDefault, index, false);
            } else {
                this.$set(this.scopesDefault, index, this.scopes[index]);
            }
        },
        scope () {
            this.list.forEach((item, index) => {
                this.scopesDefault[index] = false;
                if ('cList' in item) {
                    this.scopes[index] = true;
                    console.log(item, index);
                } else {
                    this.scopes[index] = false;
                }
            });
            console.log(this.scopesDefault);
        },
        remove (index) {
            let data = this.list.filter((val, ind) => ind !== index)
            this.list = data
        },
        // 新建文件夹
        createFolder (index) {
            let obj = {
                flag: false,
                name: '新建文件夹',
                cList: []
            }
            this.list[index].cList.push(obj)
        },
        createFile (index) {
            let obj = {
                flag: false,
                name: '新建文件'
                // cList: []
            }
            if (this.list[index].cList) {
                this.list[index].cList.push(obj)
            } else {

            }
        },
        rename (item) {
            item.flag = !item.flag
            console.log(item.name)
        },
        confirmRename (item) {
            item.name = this.newName
            item.flag = false
        }
    },
    created () {
        this.scope();
    }
};
</script>
<style lang="">
</style>
